---
import List from "../components/cards/list";
import type { Offer } from "../components/cards/type";
import Footer from "../components/footer";
import Layout from "../layouts/Layout.astro";
import { createClient } from "@libsql/client/web";

const turso = createClient({
  url: import.meta.env.TURSO_URL!,
  authToken: import.meta.env.TURSO_TOKEN!,
});

const currentDate = new Date();
const month = new Intl.DateTimeFormat("es-ES", { month: "long" }).format(
  currentDate
);
const day = currentDate.getDate();

const offers = (await turso.execute("SELECT * FROM offers"))
  .rows as unknown as Offer[];
---

<Layout>
  <div class="bg-orange-500">
    <div
      class="md:max-w-7xl max-w-none mx-auto p-2 flex justify-between items-end"
    >
      <div class="text-white">
        <p class="font-semibold text-xl">OSUSACH PEGAS</p>
        <p>Ofertas de trabajo entry level.</p>
        <p>Prácticas, recién titulados y juniors.</p>
      </div>
      <img
        src="/logo.png"
        alt="Logo de Open Source USACH"
        class="w-24 h-24"
        style="filter: brightness(0) invert(1);"
      />
    </div>
  </div>
  <main class="md:max-w-7xl max-w-none mx-auto p-2">
    <h1 class="mb-2">Últimas ofertas ({day} {month})</h1>
    <List client:idle offers={offers} />
  </main>
  <Footer client:visible />
</Layout>
