---
import List from "../components/cards/list";
import type { Offer } from "../components/cards/type";
import Layout from "../layouts/Layout.astro";
import { createClient } from "@libsql/client/web";

const turso = createClient({
  url: import.meta.env.TURSO_URL!,
  authToken: import.meta.env.TURSO_TOKEN!,
});

const currentDate = new Date();
const month = new Intl.DateTimeFormat("es-ES", { month: "long" }).format(
  currentDate
);
const day = currentDate.getDate();

const offers = (await turso.execute("SELECT * FROM offers"))
  .rows as unknown as Offer[];
---

<Layout>
  <main class="md:max-w-5xl max-w-none mx-auto pb-2">
    <div class="p-2">
      <h1 class="text-orange-500"># PEGAS OSUSACH</h1>
      <p>
        Ofertas de trabajo entry level. Prácticas, recién titulados y juniors.
      </p>
    </div>
    <List client:idle offers={offers} />
  </main>
</Layout>
